global
  user root
  group root

defaults
  log     global
  mode    http
  balance roundrobin
  timeout connect 5000
  timeout client  50000
  timeout server  50000

listen stats *:9999
  stats enable
  stats uri /
  stats auth admin:password

frontend https
  bind *:443 ssl crt /etc/ssl/xip.io.pem

  option httpclose
  option forwardfor

  use_backend web

frontend http
  bind *:80
  redirect scheme https

backend web
  balance roundrobin
  option httpchk GET /
  server web0-a web0:4443 check ssl verify none
  server web0-b web0:4444 check ssl verify none
  server web1-a web1:4443 check ssl verify none
  server web1-b web1:4444 check ssl verify none
